.App {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #118ab2;
    color: whitesmoke;
}

.nav {
    list-style-type: none;
    /* width:500px; */
    display: flex;
    justify-content: space-evenly;
}

.active {
    background-color: burlywood;
}
.componentes {
    display: flex;
    align-items: center;
    flex-direction: column;
}

p {
    display: flex;
    align-items: center;
    flex-direction: column;
}

a {
    text-decoration: none;
    color:inherit;
}

.Footer {
    color:black;
    display:flex;
    justify-content:center;
    align-items:center;
    background-color: #1d3557;
    height: 800%;
}